$color-celeste: #51b5ef; 
$color-azul: #436bf1;
$color-blanco: #ffffff;
$color-parrafos: #272727;
$color-menu-btn: #262626;
$background-color-transparente: transparent;
$color-rgba-contact: rgba(35, 9, 9, 0.6);

//Body
$font-family-body: 'Poppins', sans-serif;
$color-texto-body: #0c0c0c;
$background-color-body: #ffffff;

//heading_container 
$color-h2: #1d1e31;

$font-family-navbar: "Roboto", sans-serif;
$font-family-navbar-brand: 'American Typewriter', sans-serif;
$font-family-slider-secction:'American Typewriter', sans-serif;

//none?
$valor-none: none;


//Grados
$deg:45deg;

