<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style2.css">
    <title>Document</title>
</head>

<body>
    <header class="header">
        <nav>

        </nav>
    </header>

    <section class="contenedor-general">
        <div class="contenedor">
            <div class="tarjetas"></div>
            <div class="tarjetas"></div>
            <div class="tarjetas"></div>
            <div class="tarjetas"></div>
        </div>

        <div class="contenedor parte-media">
            <div class="caja-grande">

            </div>
            <div class="caja-repartida">
                <div class="caja-1">
                    <div class="repartida"></div>
                    <div class="repartida"></div>
                </div>
                <div class="repartida"></div>
            </div>
        </div>

        <div class="contenedor parte-baja">
            <div class="cajas"></div>
            <div class="cajas"></div>
        </div>
    </section>
</body>

</html>