<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style1.css">
    <title>Document</title>
</head>

<body>
    <section>
        <div class="contenedor">
            <div class="hijos"></div>
            <div class="hijos"></div>
            <div class="hijos"></div>
        </div>
        
        <div class="contenedor parte-baja">
            <div class="hijos"></div>
            <div class="hijos"></div>
            <div class="hijos"></div>
        </div>
        
    </section>
</body>

</html>